@import "reset.css";

#content{
    width: 800px;
    margin: 25px auto;
}

#top{
    padding-bottom: 20px;
}

#hello{
    margin-left: 50%;
    float: left;
}

#exit{
    float: right;
}

#main{
    position: relative;
    clear: left;
    border: 3px solid green;
}

.you{
    color: green;
}

#chat{
    height: 300px;
    padding: 10px;
    width: 670px;
    border-right: 3px solid green;
    overflow-y: scroll;
}

#users{
    float: right;
    margin-top: -280px;
    margin-right: 20px;
    height: 100%;
}

.admin{
    color: red;
}

#users li{
    margin-top: 3px;
}

#users  a{
    color: inherit;
}

.message{
    margin-top: 3px;
}

.message a{
    color: inherit;
}

#message_form{
    border: 3px solid green;
    margin-top: -3px;
    padding: 0;
}

#message_form textarea{
    height: 50px;
    width: 685px;
}

#message_form button{
    display: block;
    height: 56px;
    float: right;
    width: 100px;
}